@use "./_variables.scss" as *;

.secondary-color {
  color: $secondary-color;
}

.bg-color-section {
  background-color: $section-color;
}

.main-padding {
  padding: 200px 25px;
}

.button {
  display: inline-block;
  font-size: small;
  padding: 15px 30px;
  border-radius: 30px;
  background: linear-gradient(90deg,
      $tertiary-color 0%,
      $secondary-color 100%);

  color: white;
  cursor: pointer;
  -webkit-box-shadow: 5px 4px 35px 4px rgba(11, 218, 161, 0.5);
  box-shadow: 5px 4px 35px 4px rgba(11, 218, 161, 0.5);
}

.black-button {
  display: inline-block;
  font-size: small;
  padding: 15px 30px;
  border-radius: 30px;
  background: linear-gradient(90deg, $primary-color 0%, black 100%);
  color: white;
  cursor: pointer;
}

.fancy-input {
  display: inline;
  padding: 15px 30px;
  border-radius: 30px;
  background: linear-gradient(90deg, #494949 0%, #373737 100%);
  color: $secondary-text-color;

  input {
    width: 100%;
    border: none;
    background: none;
    color: white;

    &:focus {
      outline: none;
    }
  }

  span {
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
  }
}

.shadows {
  -webkit-box-shadow: 0px 10px 37px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 37px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 37px 2px rgba(0, 0, 0, 0.3);
}

.green-gradient {
  background: rgb(153, 225, 94);
  background: linear-gradient(225deg,
      $tertiary-color 0%,
      $secondary-color 100%);
}

.green-gradient-opaque {
  border-radius: 20px;
  background: rgb(153, 225, 94);
  background: linear-gradient(225deg,
      $tertiary-color 0%,
      $secondary-color 100%);
}

.black-gradient {
  background: linear-gradient(90deg, $primary-color 0%, black 100%);
}