body {
  font-family: "Quicksand", sans-serif;
  color: #393939;
}

.h1 {
  font-weight: 600;
  font-size: 3.6rem;
}

.h2 {
  font-weight: 600;
  font-size: 3.3rem;
  color: #202020;
}

.h3 {
  font-weight: 500;
  font-size: 1.8rem;
}